/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.github
/.idea
/.nova
/.vscode
/.zed

# 今回のプロジェクトで本質でないファイルを一括除外
.npmrc
.prettierignore
.prettierrc
/artisan
/app
/bootstrap
/config
/database
/public
# /resources
# /routes
/routes/console.php
/storage
/tests
/phpunit.xml
eslint.config.js
pint.json
tsconfig.json
